<%include header%>
  <h1>
   Contact us
</h1>
<div class="z">
  <br>
  <br>
    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Your name:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="email"> Your email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Your message:</label><br />
		<textarea id="message" class="input" name="message" rows="5" cols="25"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Submit" />
</form>
  </div>
<footer id = "tableFooter" >
<table >
		<tr>
			<td><a href="https://www.facebook.com/anuraag.rss.3" class="fb" target="_blank"></a></td>
			<td><a href="https://www.linkedin.com/in/anuraag-rss-50b9a678?trk=hp-identity-name" class="li" target="_blank"></a></td>
			<td><a href="https://github.com/rssanuraag" class="gh" target="_blank"></a></td>
			<td><a href="https://bitbucket.org/rssanuraag/" class="bb" target="_blank"></a></td>
		</tr>
	</table>
</footer>
<%include footer%>