<%include header%>
  <div class="z">
  <h1 id="second">Distillation</h1>
    <div class="distilation">
    <p>
            Distillation is a commonly used method for purifying liquids and separating mixtures of liquids into
their individual components. Familiar examples include the distillation of crude fermentation
broths into alcoholic spirits such as gin and vodka, and the fractionation of crude oil into useful
products such as gasoline and heating oil. In the organic lab, distillation is used for purifying
solvents and liquid reaction products.
    </p>
    </div>
    <br>
    <br>
    <div class= "Efficency">
      <p class="SubHeading">Murphree Efficiency</p>
<p class="MainText">The Murphree Tray Efficiency E<span class="Subscript">M</span> 
  , is based on a semi-theoretical models that assumes that the vapour between 
  trays is well-mixed (uniform composition), that the liquid in the downcomers 
  is well-mixed (uniform composition), and that the liquid on the tray is well 
  mixed and is of the same composition as the liquid in the downcomer leaving 
  the tray.<br>
</p>
<p class="MainText">It is defined for each tray according to the <span class="Highlight">separation 
  achieved on each tray</span>. This can be based on either the liquid phase or 
  the vapor phase. For a given component, it is equal to the change in actual 
  concentration in the phase, divided by the change predicted by equilibrium condition.</p>
  <img src="http://www.separationprocesses.com/Distillation/DT_Figures/sFig090.gif" alt="HTML5 Icon" style="width:160px;height:160px;">
  <p class = "equation1"> 
      <span class = "vapourh">Vapour phase</span> <br><br>EMV = (Yn - Yn-1) / (Yn*-Yn-1)</p>
      <p class = "equation1"> 
      <span class = "liquidh">Liquid phase</span> <br><br>EML = (Xn - Xn-1) / (Xn*-Xn-1)</p>
      </div>
  </div>
<%include footer%>
