<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="a03.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body class="container">
<ul class="navgation">
  <li class="navgation"><a>Murphee Calculation</a></li>	  
  <li class="navgation"><a href="/">Home</a></li>
  <li class="navgation"><a href="/Distillation">Distillation</a></li>
  <li class="navgation"><a href="Efficency">Efficeny Calculator</a></li>
  <li class="navgation"><a href="contact">Contact</a></li>
  <li class="navgation"><a href="GuestBook">GuestBook</a></li>
  </ul>