<% include header %>
    <img src="1.jpg" alt="MyPic"  id = "myPic" align= "center">
  <div class="z">
   <h2> MY NAME IS ANURAAG R.S.S</h2>
<ol  style="list-style-type:square">
  <li>i am a graduate student at Northwest Missouri State Univerisity with Applied Computer Science as Major</li><br>
<li>
i done my under gradution in Chemical Engineering at GMR Institute of Technology
</li><br>
<li>
i was represented My university team at inter university sports meet 2011 ,2012 and 2013
</li><br>
<li>
i was interested in learning about how technology can be applied for concepts in Chemical Engineering.
</li>
</ol><br>
   </div>
<br>
<br>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oswB6h-wKnY" frameborder="0" allowfullscreen ></iframe></div>
<h3> Thank you..!</h3>

<% include footer %>